*{
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4vh 4vw;
  color:gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
